* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

header {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5rem;
        img {
            width: 7rem;
        }
        ul {
            display: flex;
            gap: 2rem;  
            li {
                list-style: none;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}



section {
    .img-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        color: #fff;
        img {
            width: 720px;
            height: 534px;
            animation-name: animate0;
            animation-iteration-count: 10000;
            animation-duration: 2s;
            animation-direction: alternate;
        }
        img:hover {
            animation-play-state: paused;
        }

        @keyframes animate0 {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-30px);
            }
        }
        p {
            color: #999;
            max-width: 30rem;
        }
        .btn {
            padding: 0.5rem 2.5rem;
            border-radius: 10px;
            background: aqua;
            filter: drop-shadow(5px 5px 10px aqua);
            border: none;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

}

.servise-main {
    margin: 3rem 0;
    width: 100%;
    color: #fff;
    p {
        color: #999;
        max-width: 30rem;
    }

     .box_1 {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0 3rem;
         gap: 2rem;

        
       
    

        .kom {
             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: center;
             text-align: center;

            img {
                animation-name: animate1;
                animation-iteration-count: 10000;
                animation-duration: 2s;
                animation-direction: alternate;  
            }
            img:hover {
                animation-play-state: paused;
            }
            @keyframes animate1 {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-30px);
                }
            }
        }

         .security {
             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: center;
             text-align: center;

            img {
                animation-name: animate2;
                animation-iteration-count: 10000;
                animation-duration: 2s;
                animation-direction: alternate;  
            }
            img:hover {
                animation-play-state: paused;
            }
            @keyframes animate2 {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-30px);
                }
            }
         }
    }

     .box_2 {
         display: flex;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0 3rem;
         gap: 2rem;


        img {
            width: 100px;
            
        }
        
        

         .chas {
             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: center;
             text-align: center;
            img {
                animation-name: animate3;
                animation-iteration-count: 10000;
                animation-duration: 2s;
                animation-direction: alternate;  
            }
            img:hover {
                animation-play-state: paused;
            }
            @keyframes animate3 {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-15px);
                }
            }
         }

         .pap {
             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: center;
             text-align: center;
             img {
                animation-name: animate4;
                animation-iteration-count: 10000;
                animation-duration: 2s;
                animation-direction: alternate;  
            }
            img:hover {
                animation-play-state: paused;
            }
            @keyframes animate4 {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-15px);
                }
            }
         }
     }

 }

.main-reklama {
    color: #fff;
    padding: 0 20rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
    .box {
        overflow: hidden;
        img {
            width: 314px;
            height: 263px;
            transition: all 3s linear;
        }
        img:hover {
            transform: scale(1.1);
        }
        
    }
    

    .box-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

}


.main-clients {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10rem 0;

    p {
        max-width: 20rem;
    }

    .box-1 {
        background: #333;
        margin: 1rem 0;
        box-shadow: 5px 5px 20px #222;
        padding: 2rem 1rem;
        border-radius: 10px;

        .img {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                border-radius: 50%;
                animation-name: animate6;
                animation-iteration-count: 10000;
                animation-duration: 2s;
                animation-direction: alternate;
            }
            @keyframes animate6 {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1.2);
                }
            }
        }

    }

}


.main-contoct {
    color: #fff;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 10rem;
    box-shadow: 5px 5px 20px #222;

    p {
        max-width: 40rem;
    }

    .box-1 {
        padding: 2rem 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;


        .box-2 {
            display: flex;
            gap: 5px;
            input {
                padding: 0.5rem 4rem;
                border-radius: 10px;
                border: none;
            }

            .btn {
                border: none;
                padding: 5px 15px;
                border-radius: 10px;
                background: aqua;
                filter: drop-shadow(5px 5px 10px aqua);

                a {
                    color: #fff;
                    text-decoration: none;
                }
                a:hover {
                    color:red;
                }
            }
        }
    }

}

.footer {
    color: #fff;
    background: #222;
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;

     .logo-footer {
        img {
             width: 100px;
        }
        display: flex;
        flex-direction: column;
        p {
            max-width: 30rem;
         }
         .box {
             display: flex;
             align-items: center;
         }
     }

    .contact-footer {
        .box_1 {
            display: flex;
        }

        .box_2 {
            display: flex;
        }
    }


    .nav-footer {
        ul {
            li {
            list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .nav-footer-2 {
        ul {
            li {
            list-style: none;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    }

    .icon-footer {
        a {
            color: #fff;
        }
    }


}





























@media (max-width: 1120px) {
    .main-reklama {
        color: #fff;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        .box {
            img {
                width: 314px;
                height: 163px;
            }
        }
        
    
        .box-2 {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
        }
    
    
    
    
    }
}


@media (max-width: 850px) {
    .main-contoct {
        color: #fff;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5rem 5rem;
        box-shadow: 5px 5px 20px #222;
    
        p {
            max-width: 40rem;
        }
    
        .box-1 {
            padding: 2rem 3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
    
    
            .box-2 {
                display: flex;
                gap: 5px;
                input {
                    padding: 0.5rem 4rem;
                    border-radius: 10px;
                    border: none;
                }
    
                .btn {
                    border: none;
                    padding: 5px 15px;
                    border-radius: 10px;
                    background: aqua;
                    filter: drop-shadow(5px 5px 10px aqua);
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    
    }

    .footer {
        color: #fff;
        background: #222;
        display: flex;
        justify-content: space-around;
        height: 200px;
        align-items: center;
        padding:  0 3rem;
        gap: 1rem;
        margin-top: 3rem;
    
         .logo-footer {
            img {
                 width: 100px;
            }
            display: flex;
            flex-direction: column;
            p {
                max-width: 30rem;
             }
             .box {
                 display: flex;
                 align-items: center;
             }
         }
    
        .contact-footer {
            .box_1 {
                display: flex;
            }
    
            .box_2 {
                display: flex;
            }
        }
    
    
        .nav-footer {
            ul {
                li {
                list-style: none;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .nav-footer-2 {
            ul {
                li {
                list-style: none;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        }
    
        .icon-footer {
            a {
                color: #fff;
            }
        }
    
    
    }
}




@media (max-width: 750px) {
    section {

        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .img-main {
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            color: #fff;
            
            img {
                width: 320px;
                height: 334px;
            }
    
            p {
                color: #999;
            }
    
            .btn {
                padding: 0.5rem 2.5rem;
                border-radius: 10px;
                background: aqua;
                border: none;
    
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }


    }


    .servise-main {
        margin: 2rem 0;
        width: 100%;
        color: #fff;
        p {
            color: #999;
            max-width: 30rem;
        }
 
         .box_1 {
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 0 3rem;
             gap: 2rem;
 
             img {
                 width: 70px;
             }
 
             .kom {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
 
             .security {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
         }
 
         .box_2 {
             display: flex;
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 0 3rem;
             gap: 2rem;
 
 
             img {
                 width: 70px;
             }
 
             .chas {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
 
             .pap {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
         }
 
     }


     .main-reklama {
        color: #fff;
        padding: 0 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        font-size: 10px;
        .box {
            img {
                width: 314px;
                height: 163px;
            }
        }
        
    
        .box-2 {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .main-clients {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 10rem 0;
        font-size: 10px;
    
        p {
            max-width: 20rem;
        }
    
        .box-1 {
            background: #333;
            margin: 1rem 0;
            box-shadow: 5px 5px 20px #222;
            padding: 2rem 1rem;
            border-radius: 10px;
    
            .img {
                display: flex;
                align-items: center;
                gap: 1rem;
    
                img {
                    border-radius: 50%;
                }
            }
    
        }
    
    }

    .main-contoct {
        color: #fff;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5rem 3rem;
        box-shadow: 5px 5px 20px #222;
    
        p {
            max-width: 40rem;
        }
    
        .box-1 {
            padding: 2rem 3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
    
    
            .box-2 {
                display: flex;
                gap: 5px;
                input {
                    padding: 0.5rem 4rem;
                    border-radius: 10px;
                    border: none;
                }
    
                .btn {
                    border: none;
                    padding: 5px 15px;
                    border-radius: 10px;
                    background: aqua;
                    filter: drop-shadow(5px 5px 10px aqua);
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    
    }
}


@media (max-width: 650px) {
    .main-reklama {
        color: #fff;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        gap: 3rem;
        font-size: 15px;
        .box {
            img {
                width: 220px;
                height: 163px;
            }
        }
        
    
        .box-2 {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .main-contoct {
        color: #fff;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 1rem;
        box-shadow: 5px 5px 20px #222;
        padding: 0 3rem;
    
        p {
            max-width: 40rem;
        }
    
        .box-1 {
            padding: 2rem 3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
    
    
            .box-2 {
                display: flex;
                flex-direction: column;
                gap: 5px;
                input {
                    padding: 0.5rem 4rem;
                    border-radius: 10px;
                    border: none;
                }
    
                .btn {
                    border: none;
                    padding: 5px 15px;
                    border-radius: 10px;
                    background: aqua;
                    filter: drop-shadow(5px 5px 10px aqua);
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    
    }
}






@media (max-width: 550px) {
    header {
        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 2rem 0;
            
    
            img {
                width: 5rem;
            }
    
            ul {
                display: flex;
                gap: 1rem;
                
                li {
                    list-style: none;
                    
    
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .footer {
        color: #fff;
        background: #222;
        display: flex;
        height: 500px;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: flex-start;
    
         .logo-footer {
            img {
                width: 100px;
            }
            display: flex;
            flex-direction: column;
            p {
                max-width: 30rem;
             }
             .box {
                display: flex;
             }
         }
    
        .contact-footer {
            .box_1 {
                display: flex;
            }
    
            .box_2 {
                display: flex;
            }
        }

        .icon-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;
        }
    }
}



@media (max-width: 450px) {

    .servise-main {
        margin: 2rem 0;
        width: 100%;
        color: #fff;
        p {
            color: #999;
            max-width: 30rem;
        }
 
         .box_1 {
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 0 3rem;
             gap: 2rem;
            flex-direction: column;
             img {
                 width: 70px;
             }
 
             .kom {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
 
             .security {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
         }
 
         .box_2 {
             display: flex;
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 0 3rem;
             gap: 2rem;
             flex-direction: column;
 
             img {
                 width: 70px;
             }
 
             .chas {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
 
             .pap {
                 display: flex;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
             }
         }
 
     }

     .main-clients {
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        margin: 10rem 0;
        font-size: 10px;
    
        p {
            max-width: 20rem;
        }
    
        .box-1 {
            background: #333;
            margin: 1rem 0;
            box-shadow: 5px 5px 20px #222;
            padding: 2rem 1rem;
            border-radius: 10px;
    
            .img {
                display: flex;
                align-items: center;
                gap: 1rem;
    
                img {
                    border-radius: 50%;
                }
            }
    
        }
    
    }

    .main-contoct {
        color: #fff;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 1rem;
        box-shadow: 5px 5px 20px #222;
        padding: 0 3rem;
    
        p {
            max-width: 40rem;
        }
    
        .box-1 {
            padding: 2rem 3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
    
    
            .box-2 {
                display: flex;
                flex-direction: column;
                gap: 5px;

                input {
                    padding: 0.5rem 2rem;
                    border-radius: 10px;
                    border: none;
                }
    
                .btn {
                    border: none;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background: aqua;
                    filter: drop-shadow(5px 5px 10px aqua);
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    
    }

}


@media (max-width: 350px) {
    section {

        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .img-main {
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            color: #fff;
            
            img {
                width: 250px;
                height: 220px;
            }
    
            p {
                color: #999;
                padding: 0 1rem;
            }
            h2 {
                font-size: 1rem;
            }
    
            .btn {
                padding: 0.5rem 2.5rem;
                border-radius: 10px;
                background: aqua;
                border: none;
                
    
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    .main-contoct {
       font-size: 15px;
        margin: 0 ;
    
        .box-1 {
            padding: 2rem 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
    
    
            .box-2 {
                display: flex;
                flex-direction: column;
                gap: 5px;

                input {
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    border: none;
                }
    
                .btn {
                    border: none;
                    padding: 5px 15px;
                    border-radius: 10px;
                    background: aqua;
                    filter: drop-shadow(5px 5px 10px aqua);
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    
    }
    
}





@media (max-width: 290px) {
    header {
        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 2rem 0;
            
    
            img {
                width: 4rem;
            }
    
            ul {
                display: flex;
                gap: 0.5rem;
                
                li {
                    list-style: none;
                    
    
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }

    .main-clients {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 10rem 0;
        font-size: 10px;
        padding: 0 1rem;
    
        p {
            max-width: 20rem;
        }
    
        .box-1 {
            background: #333;
            margin: 1rem 0;
            box-shadow: 5px 5px 20px #222;
            padding: 2rem 1rem;
            border-radius: 10px;
    
            .img {
                display: flex;
                align-items: center;
                gap: 1rem;
    
                img {
                    border-radius: 50%;
                }
            }
    
        }
    
    }

    .main-contoct {
       font-size: 10px;
        margin: 5px;
        box-shadow: 5px 5px 20px #222;
        padding: 0 3rem;
    
        p {
            max-width: 40rem;
        }
    
        .box-1 {
            padding: 2rem 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
    
    
            .box-2 {
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                input {
                    padding: 0.5rem 0.2rem;
                    border-radius: 10px;
                    border: none;
                }
    
                .btn {
                    border: none;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background: aqua;
                    filter: drop-shadow(5px 5px 10px aqua);
    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    
    }
}