* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem;
}

header .nav img {
  width: 7rem;
}

header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header .nav ul li {
  list-style: none;
}

header .nav ul li a {
  color: #fff;
  text-decoration: none;
}

section .img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1rem;
  color: #fff;
}

section .img-main img {
  width: 720px;
  height: 534px;
  -webkit-animation-name: animate0;
          animation-name: animate0;
  -webkit-animation-iteration-count: 10000;
          animation-iteration-count: 10000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

section .img-main img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes animate0 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes animate0 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

section .img-main p {
  color: #999;
  max-width: 30rem;
}

section .img-main .btn {
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  background: aqua;
  -webkit-filter: drop-shadow(5px 5px 10px aqua);
          filter: drop-shadow(5px 5px 10px aqua);
  border: none;
}

section .img-main .btn a {
  color: #fff;
  text-decoration: none;
}

.servise-main {
  margin: 3rem 0;
  width: 100%;
  color: #fff;
}

.servise-main p {
  color: #999;
  max-width: 30rem;
}

.servise-main .box_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  gap: 2rem;
}

.servise-main .box_1 .kom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.servise-main .box_1 .kom img {
  -webkit-animation-name: animate1;
          animation-name: animate1;
  -webkit-animation-iteration-count: 10000;
          animation-iteration-count: 10000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.servise-main .box_1 .kom img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.servise-main .box_1 .security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.servise-main .box_1 .security img {
  -webkit-animation-name: animate2;
          animation-name: animate2;
  -webkit-animation-iteration-count: 10000;
          animation-iteration-count: 10000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.servise-main .box_1 .security img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.servise-main .box_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  gap: 2rem;
}

.servise-main .box_2 img {
  width: 100px;
}

.servise-main .box_2 .chas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.servise-main .box_2 .chas img {
  -webkit-animation-name: animate3;
          animation-name: animate3;
  -webkit-animation-iteration-count: 10000;
          animation-iteration-count: 10000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.servise-main .box_2 .chas img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.servise-main .box_2 .pap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.servise-main .box_2 .pap img {
  -webkit-animation-name: animate4;
          animation-name: animate4;
  -webkit-animation-iteration-count: 10000;
          animation-iteration-count: 10000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.servise-main .box_2 .pap img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.main-reklama {
  color: #fff;
  padding: 0 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}

.main-reklama .box {
  overflow: hidden;
}

.main-reklama .box img {
  width: 314px;
  height: 263px;
  -webkit-transition: all 3s linear;
  transition: all 3s linear;
}

.main-reklama .box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-reklama .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main-clients {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 10rem 0;
}

.main-clients p {
  max-width: 20rem;
}

.main-clients .box-1 {
  background: #333;
  margin: 1rem 0;
  -webkit-box-shadow: 5px 5px 20px #222;
          box-shadow: 5px 5px 20px #222;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.main-clients .box-1 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.main-clients .box-1 .img img {
  border-radius: 50%;
  -webkit-animation-name: animate6;
          animation-name: animate6;
  -webkit-animation-iteration-count: 10000;
          animation-iteration-count: 10000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animate6 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes animate6 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.main-contoct {
  color: #fff;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem 10rem;
  -webkit-box-shadow: 5px 5px 20px #222;
          box-shadow: 5px 5px 20px #222;
}

.main-contoct p {
  max-width: 40rem;
}

.main-contoct .box-1 {
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.main-contoct .box-1 .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.main-contoct .box-1 .box-2 input {
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: none;
}

.main-contoct .box-1 .box-2 .btn {
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  background: aqua;
  -webkit-filter: drop-shadow(5px 5px 10px aqua);
          filter: drop-shadow(5px 5px 10px aqua);
}

.main-contoct .box-1 .box-2 .btn a {
  color: #fff;
  text-decoration: none;
}

.main-contoct .box-1 .box-2 .btn a:hover {
  color: red;
}

.footer {
  color: #fff;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .logo-footer img {
  width: 100px;
}

.footer .logo-footer p {
  max-width: 30rem;
}

.footer .logo-footer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-footer .box_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contact-footer .box_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .nav-footer ul li {
  list-style: none;
}

.footer .nav-footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .nav-footer-2 ul li {
  list-style: none;
}

.footer .nav-footer-2 ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .icon-footer a {
  color: #fff;
}

@media (max-width: 1120px) {
  .main-reklama {
    color: #fff;
    padding: 0 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  .main-reklama .box img {
    width: 314px;
    height: 163px;
  }
  .main-reklama .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 850px) {
  .main-contoct {
    color: #fff;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem 5rem;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
  }
  .main-contoct p {
    max-width: 40rem;
  }
  .main-contoct .box-1 {
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .main-contoct .box-1 .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .main-contoct .box-1 .box-2 input {
    padding: 0.5rem 4rem;
    border-radius: 10px;
    border: none;
  }
  .main-contoct .box-1 .box-2 .btn {
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    background: aqua;
    -webkit-filter: drop-shadow(5px 5px 10px aqua);
            filter: drop-shadow(5px 5px 10px aqua);
  }
  .main-contoct .box-1 .box-2 .btn a {
    color: #fff;
    text-decoration: none;
  }
  .footer {
    color: #fff;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    gap: 1rem;
    margin-top: 3rem;
  }
  .footer .logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .logo-footer img {
    width: 100px;
  }
  .footer .logo-footer p {
    max-width: 30rem;
  }
  .footer .logo-footer .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .contact-footer .box_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .contact-footer .box_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .nav-footer ul li {
    list-style: none;
  }
  .footer .nav-footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  .footer .nav-footer-2 ul li {
    list-style: none;
  }
  .footer .nav-footer-2 ul li a {
    color: #fff;
    text-decoration: none;
  }
  .footer .icon-footer a {
    color: #fff;
  }
}

@media (max-width: 750px) {
  section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .img-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #fff;
  }
  section .img-main img {
    width: 320px;
    height: 334px;
  }
  section .img-main p {
    color: #999;
  }
  section .img-main .btn {
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    background: aqua;
    border: none;
  }
  section .img-main .btn a {
    color: #fff;
    text-decoration: none;
  }
  .servise-main {
    margin: 2rem 0;
    width: 100%;
    color: #fff;
  }
  .servise-main p {
    color: #999;
    max-width: 30rem;
  }
  .servise-main .box_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    gap: 2rem;
  }
  .servise-main .box_1 img {
    width: 70px;
  }
  .servise-main .box_1 .kom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .servise-main .box_1 .security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .servise-main .box_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    gap: 2rem;
  }
  .servise-main .box_2 img {
    width: 70px;
  }
  .servise-main .box_2 .chas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .servise-main .box_2 .pap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .main-reklama {
    color: #fff;
    padding: 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    font-size: 10px;
  }
  .main-reklama .box img {
    width: 314px;
    height: 163px;
  }
  .main-reklama .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .main-clients {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    margin: 10rem 0;
    font-size: 10px;
  }
  .main-clients p {
    max-width: 20rem;
  }
  .main-clients .box-1 {
    background: #333;
    margin: 1rem 0;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
    padding: 2rem 1rem;
    border-radius: 10px;
  }
  .main-clients .box-1 .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .main-clients .box-1 .img img {
    border-radius: 50%;
  }
  .main-contoct {
    color: #fff;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem 3rem;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
  }
  .main-contoct p {
    max-width: 40rem;
  }
  .main-contoct .box-1 {
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .main-contoct .box-1 .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .main-contoct .box-1 .box-2 input {
    padding: 0.5rem 4rem;
    border-radius: 10px;
    border: none;
  }
  .main-contoct .box-1 .box-2 .btn {
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    background: aqua;
    -webkit-filter: drop-shadow(5px 5px 10px aqua);
            filter: drop-shadow(5px 5px 10px aqua);
  }
  .main-contoct .box-1 .box-2 .btn a {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 650px) {
  .main-reklama {
    color: #fff;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    font-size: 15px;
  }
  .main-reklama .box img {
    width: 220px;
    height: 163px;
  }
  .main-reklama .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .main-contoct {
    color: #fff;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
    padding: 0 3rem;
  }
  .main-contoct p {
    max-width: 40rem;
  }
  .main-contoct .box-1 {
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .main-contoct .box-1 .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .main-contoct .box-1 .box-2 input {
    padding: 0.5rem 4rem;
    border-radius: 10px;
    border: none;
  }
  .main-contoct .box-1 .box-2 .btn {
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    background: aqua;
    -webkit-filter: drop-shadow(5px 5px 10px aqua);
            filter: drop-shadow(5px 5px 10px aqua);
  }
  .main-contoct .box-1 .box-2 .btn a {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 550px) {
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }
  header .nav img {
    width: 5rem;
  }
  header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header .nav ul li {
    list-style: none;
  }
  header .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  .footer {
    color: #fff;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .logo-footer img {
    width: 100px;
  }
  .footer .logo-footer p {
    max-width: 30rem;
  }
  .footer .logo-footer .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .contact-footer .box_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .contact-footer .box_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .icon-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
}

@media (max-width: 450px) {
  .servise-main {
    margin: 2rem 0;
    width: 100%;
    color: #fff;
  }
  .servise-main p {
    color: #999;
    max-width: 30rem;
  }
  .servise-main .box_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servise-main .box_1 img {
    width: 70px;
  }
  .servise-main .box_1 .kom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .servise-main .box_1 .security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .servise-main .box_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servise-main .box_2 img {
    width: 70px;
  }
  .servise-main .box_2 .chas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .servise-main .box_2 .pap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .main-clients {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin: 10rem 0;
    font-size: 10px;
  }
  .main-clients p {
    max-width: 20rem;
  }
  .main-clients .box-1 {
    background: #333;
    margin: 1rem 0;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
    padding: 2rem 1rem;
    border-radius: 10px;
  }
  .main-clients .box-1 .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .main-clients .box-1 .img img {
    border-radius: 50%;
  }
  .main-contoct {
    color: #fff;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
    padding: 0 3rem;
  }
  .main-contoct p {
    max-width: 40rem;
  }
  .main-contoct .box-1 {
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .main-contoct .box-1 .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .main-contoct .box-1 .box-2 input {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: none;
  }
  .main-contoct .box-1 .box-2 .btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: aqua;
    -webkit-filter: drop-shadow(5px 5px 10px aqua);
            filter: drop-shadow(5px 5px 10px aqua);
  }
  .main-contoct .box-1 .box-2 .btn a {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 350px) {
  section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .img-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: #fff;
  }
  section .img-main img {
    width: 250px;
    height: 220px;
  }
  section .img-main p {
    color: #999;
    padding: 0 1rem;
  }
  section .img-main h2 {
    font-size: 1rem;
  }
  section .img-main .btn {
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    background: aqua;
    border: none;
  }
  section .img-main .btn a {
    color: #fff;
    text-decoration: none;
  }
  .main-contoct {
    font-size: 15px;
    margin: 0;
  }
  .main-contoct .box-1 {
    padding: 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .main-contoct .box-1 .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .main-contoct .box-1 .box-2 input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
  }
  .main-contoct .box-1 .box-2 .btn {
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    background: aqua;
    -webkit-filter: drop-shadow(5px 5px 10px aqua);
            filter: drop-shadow(5px 5px 10px aqua);
  }
  .main-contoct .box-1 .box-2 .btn a {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 290px) {
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }
  header .nav img {
    width: 4rem;
  }
  header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
  }
  header .nav ul li {
    list-style: none;
  }
  header .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.5rem;
  }
  .main-clients {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    margin: 10rem 0;
    font-size: 10px;
    padding: 0 1rem;
  }
  .main-clients p {
    max-width: 20rem;
  }
  .main-clients .box-1 {
    background: #333;
    margin: 1rem 0;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
    padding: 2rem 1rem;
    border-radius: 10px;
  }
  .main-clients .box-1 .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .main-clients .box-1 .img img {
    border-radius: 50%;
  }
  .main-contoct {
    font-size: 10px;
    margin: 5px;
    -webkit-box-shadow: 5px 5px 20px #222;
            box-shadow: 5px 5px 20px #222;
    padding: 0 3rem;
  }
  .main-contoct p {
    max-width: 40rem;
  }
  .main-contoct .box-1 {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .main-contoct .box-1 .box-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .main-contoct .box-1 .box-2 input {
    padding: 0.5rem 0.2rem;
    border-radius: 10px;
    border: none;
  }
  .main-contoct .box-1 .box-2 .btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: aqua;
    -webkit-filter: drop-shadow(5px 5px 10px aqua);
            filter: drop-shadow(5px 5px 10px aqua);
  }
  .main-contoct .box-1 .box-2 .btn a {
    color: #fff;
    text-decoration: none;
  }
}
/*# sourceMappingURL=style.css.map */